__history/
*.~*
*.dsk
*.dsm
*.rsm
*.png
*.stat
*.local
*.tvsconfig
*.identcache
*.dcu
*.o
*.so
*.dex
*.dres
*.xml
*.exe
*.swp
*.res
*.optset
*.2007
*.zip
OSX64/
Win32/
Win64/
iOSSimulator/
Android/
Android64/
10Seattle/OSX32/
101Berlin/OSX32/
102Tokyo/OSX32/
103Rio/OSX32/
104Sydney/OSX32/
104Sydney/LaunchScreen.TemplateiOS/
104Sydney/iOSDevice64/
11Alexandria/iOSDevice64/
11Alexandria/LaunchScreen.TemplateiOS/
*.dsv
*.deployproj
